[submodule "packages/scipion-pyworkflow"]
	path = packages/scipion-pyworkflow
	url = git@github.com:jplumail/scipion-pyworkflow.git
	branch = windows
[submodule "packages/scipion-app"]
	path = packages/scipion-app
	url = git@github.com:jplumail/scipion-app.git
	branch = fluo
