# spec 0
numpy>=1.24
scikit-learn>=1.2

tifffile>2021
scipy>=0.9
jinja2>=2.7
matplotlib>=3
markupsafe>=2
pyparsing>=2.1
decorator>=4
pyqt5==5.15.10
pytomlpp==1.0.13
SimpleITK>=2.2
pillow>=6
setuptools>=70